@import "tailwindcss";

@theme {
  --color-croissant: #ac6137;
  --color-madrugada: #16161d;
  --color-creme: #ede9e1;
  --color-demerara: #9f9383;

  --font-outfit: 'Outfit', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --font-sacramento: 'Sacramento', cursive;
}

body {
  background-color: #16161d;
  color: #ede9e1;
  font-family: var(--font-outfit);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
